* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  color: #000;
}

a {
  color: #000;
}

/* Base styles for mobile */
header,
main {
  width: 100%;
}

section {
  display: none;
}
